@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: aliceblue;
}

.container {
  background-color:#003973;
  height: 780px;
  width: 550px;
  padding: 10px;
  border-radius: 20px;
  border-radius: 20px;
}

h1 {
  color: aliceblue;
  text-align: center;
  font-size: 65px;
  margin: 10px;
}

.table button {
  width: 160px;
  height: 160px;
  font-size: 100px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  margin: auto;
}

.reload {
  color:#003973;
  background-color: yellow;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  margin: 30px;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 40px -6px #003973;
}

.reload:hover {
  transform: scale(1.05);
  transition: 0.7s
}

.resultado {
  color:#003973;
  background-color: rgb(207, 207, 207);
  border-radius: 10px;
  margin: 0px 15px;
  font-size: 40px;
}

/* ----- @MEDIA SCREEN -----*/

@media screen and (max-width: 555px) {
  .container {
    height: 720px;
    width: 470px;
  }

  h1 {
    font-size: 55px;
  }

  .table button {
    width: 145px;
    height: 145px;
  }
}

@media screen and (max-width: 472px) {
  .container {
    height: 700px;
    width: 450px;
  }

  .table button {
    width: 140px;
    height: 140px;
  }

  h1 {
    font-size: 53px;
  }
}

@media screen and (max-width: 454px) {
  .container {
    height: 645px;
    width: 400px;
  }

  .table button {
    width: 125px;
    height: 125px;
    font-size: 90px;
  }

  h1 {
    font-size: 45px;
  }

  .reload {
    padding: 20px;
    margin: 30px;
    font-size: 25px;
  }

  .resultado {
    font-size: 40px;
  }
}

@media screen and (max-width: 393px) {
  .container {
    height: 590px;
    width: 365px;
  }

  h1 {
    font-size: 45px;
  }

  .table button {
    width: 115px;
    height: 115px;
    font-size: 80px;
  }

  .reload {
    padding: 20px;
    margin: 25px;
    font-size: 20px;
  }

  .resultado {
    font-size: 35px;
  }
}

@media screen and (max-width: 364px) {

  .container {
    height: 590px;
    width: 350px;
  }

  .table button {
    width: 108px;
    height: 108px;
    font-size: 80px;
  }

  h1 {
    font-size: 42px;
  }
}
